:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
}

/* .map {
  width: 100vw;
  height: 100vh;
  position: relative;
} */

.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1024px;
  margin: 0 auto;
  gap: 1rem;
}

.map-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.fire-icon {
  color: red;
  font-size: 1.5rem;
}
.storm-icon {
  color: navy;
  font-size: 1.5rem;
}
.volcano-icon {
  color: firebrick;
  font-size: 1.5rem;
}
.ice-icon {
  color: blue;
  font-size: 1.5rem;
}

.selections label span {
  font-size: 1.4rem;
  margin-right: .2rem;
}

.selections div {
  display: flex;
  gap: 1rem;
  /* flex-direction: column; */
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader img {
  width: 350px;
}

.location-info h2 {
  font-size: 1.4rem;
  padding-bottom: .5rem;
}

.location-info ul {
  list-style: none;
  padding: 0;
}

.event-info {
  font-weight: bold;
}

.leaflet-popup-content-wrapper {
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.7);
  width: fit-content;
}

.leaflet-control {
  top: 7rem;
}

.header {
  padding: 0.5rem;
  background-color: lightseagreen;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  text-shadow: 1px 1px 3px black;
}

.header-title {
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
}

.header h1 {
  display: inline;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.header-icon {
  font-size: 2rem;
  display:inline;
  align-items: center;
}

.selections {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: bold;
  
}

.checkbox {
  margin-right: 0.2rem;
}

@media (max-width: 768px) {
  .selections div {
    flex-direction: column;
    gap: 0;
  }
}